/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
blog-nav, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, blog-nav, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* rwd img */
img{
    max-width: 100%;
    height: auto;
}

/* 全域 border box */
*,*::before,*::after{
box-sizing: border-box;
}

/* utility */
.container{
    max-width: 1100px;
    margin: 0 auto;
  }
  @media(max-width:1140px){
    .container {
        padding:0px 39px;
        }
    } 
  @media(max-width:767px){
    .container {
        padding:0px 15px;
        }
    }
.d-flex {
    display: flex;
}
.flex-column {
	flex-direction: column;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-between {
	justify-content: space-between;
}
.align-items-center {
	align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.align-content-end {
    align-content: flex-end;
}
.flex-wrap {
	flex-wrap: wrap;
}
:root {
    --primary:  #AA0601;
    --secondary: #650300;
    --margin-unit: 8px;
  }
/* 主體 CSS */
a {
    color:#fff;
    display:block;
    text-decoration: none;
}
html {
font-size: var(--font-size);
}
body {
font-family: -apple-system, BlinkMacSystemFont,
                        "Segoe UI", "Microsoft JhengHei", 
                        'Noto Sans TC', Roboto,
                        "Helvetica Neue", Arial,
                        sans-serif; 
}
/* nav*/
.nav {
    background-color: var(--primary);
    padding: 30px 88px;
}
.nav ul li {
    margin-left: calc(8 * var(--margin-unit));
}
.nav ul li a {
    line-height: 30px;
    font-size: 20px;
    padding:0 12px;
}
.nav ul li a:hover {
    background-color: var(--secondary);
}
.logo a {
    width: 80px;
    height: 49px;
    background: url("../images/logo.png");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
@media(max-width:1140px){
    .nav {
        padding: 30px 39px;
    }
    .nav ul li {
        margin-left:  calc(5 * var(--margin-unit));
    }
}
@media(max-width:767px){
    .nav {
        display:block;
        padding: 0px;
        padding-top: 10px;
    }
    .nav ul {
        margin-top: 10px;
        justify-content: center;
    }
    .nav ul li {
        width: 50%;
        margin-left: 0px;
        border: 1px solid #fff;
        text-align: center;
        margin:0 0 -1px -1px;
    }
    .nav ul li a {
        padding: 8px 0px;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo a {
        width: 48px;
        height: 29px;
        background-size: cover;

    }
}

/* inner-banner */
.inner-banner {
    background-size: cover;
    background-position: center;
    height: 304px;
}
.inner-banner .container{
    height:100%;
}
.fqa-banner {
    background-image: url(../images/qa.png);
}
.inner-banner .inner-title {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}
.inner-banner img {
    width: 58px;
    height:58px;
    margin: 0px 0px 8px 24px;
}
@media(max-width:1140px){
    .inner-banner .inner-title {
        font-size: 48px;
        line-height: 68px;
    }
    .inner-banner img {
        width: 48px;
        height:48px;
        margin: 0px 0px 8px 16px;
    }
}
@media(max-width:767px){
    .inner-banner {
        height: 143px;
    }
    .inner-banner .inner-title {
        font-size: 28px;
        line-height: 40px;
    }
    .inner-banner img {
        width: 24px;
        height: 24px;
        margin: 0px 0px 8px 8px;
    }
}

/* footer */
footer {
    background-color:var(--primary);
    padding: 48px 0px 28px; 
    color: #fff;
}
.footer-main {
    display: flex;
    justify-content: space-between;  
    border-bottom: 1px solid #fff;
    padding-bottom: 22px;
}
.footer-nav {
    display: flex;
}
.footer-nav li {
    margin-right:  calc(6 * var(--margin-unit));
}
.footer-nav li a {
    font-size: 16px;
    line-height: 24px;
}
.footer-nav li a:hover {
    text-decoration: underline;
}
.footer-contact {
    margin-top:  calc(4 * var(--margin-unit));
}
.footer-contact li {
    line-height: 54px;
    font-size: 36px;
    margin-bottom: 17px;
}
.footer-contact li img{
    margin-right: 20px;
    vertical-align: middle;
}
.footer-contact li a {
    display: inline-block;
}
.footer-contact li a:hover {
    text-decoration: underline;
}
.media ul {
    display: flex;
}
.media ul li a {
    margin-left:  calc(4 * var(--margin-unit));
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:  calc(3 * var(--margin-unit));
}
.footer-copyright div a {
    margin-right: 38px;
}
.footer-copyright span {
    font-size: 16px;
}
.footer-copyright div {
    display: flex;
    align-items: center;
}
.footer-copyright ul {
    display: flex;
    font-size: 14px;
}
.footer-copyright ul li {
    margin-left: 62px;
}
.footer-copyright ul li:hover {
    text-decoration: underline;
}
@media(max-width:1140px){
    .footer-main {
        padding-bottom: 27px;
    }
    .footer-info ul li {
        margin-right:  calc(5 * var(--margin-unit));
    }    
    .footer-contact {
        margin-top:  calc(3 * var(--margin-unit));
    }
    .footer-contact li {
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 11px;
    }
    .footer-contact li img.phone {
        width: 18px;
        margin-right: 15px;
    }
    .footer-contact li img.mail {
        width: 24px;
        margin-right: 10px;
    }
    .media ul li a{
        margin-left:  calc(3 * var(--margin-unit));
    }
    .media ul li a img{
        width: 24px;;
    }    
    .footer-copyright div a {
        display: none;
    }
    .footer-copyright ul li {
        margin-left:  calc(4 * var(--margin-unit));
    }
}
@media(max-width:767px){
    footer {
        padding: 23px 0px 21px;
    }
    .footer-main {
        padding-bottom:  calc(4 * var(--margin-unit));
    }       
    .footer-nav {
        display: none;
    }
    .footer-contact {
        margin-top: 0px;
    }
    .footer-contact li { 
        line-height: 21px;
        font-size: 16px;
        margin-bottom: 7px;
    }
    .footer-contact li img.phone {
        width: 14px;
        margin-right: 7px;
    }
    .footer-contact li img.mail {
        width: 16px;
        margin-right: 7px;
    }    
    .footer-copyright {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-copyright div a {
        position: absolute;
        display: block;
        right: 0px;
        bottom:0px;
        margin-right: 0px;
    }
    .footer-copyright div img {
        width: 46px;
    }
    .footer-copyright ul {
        flex-direction: column;
    }
    .footer-copyright ul li{
        margin-top:  calc(1 * var(--margin-unit));
        line-height: 21px;
        margin-left: 0px;
    }
}

/* fqa */
.fqa {
    margin-top:  calc(10 * var(--margin-unit));
    font-weight: 700;
}
.fqa h3 {
    font-size: 32px;
    line-height: 63px;
}
.fqa ul {
    margin-top: 36px;
}
.fqa ul li {
    margin-bottom:  calc(5 * var(--margin-unit));
}
.fqa p {
    margin-left:  calc(10 * var(--margin-unit));
    font-size: 16px;
    line-height: 24px;
}
.fqa h4 {
    margin-bottom:  calc(2 * var(--margin-unit));
    font-size: 20px;
    line-height: 23px;
}
@media(max-width:767px){
    .fqa {
        margin-top:  calc(3 * var(--margin-unit));
    }
    .fqa h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .fqa ul {
        margin-top: 12px;
    }
    .fqa ul li {
        margin-bottom: 20px;
    }
    .fqa p {
        margin-left: inherit;
        font-size: 14px;
        line-height: 21px;
    }
    .fqa h4 {
        margin-bottom:  calc(1 * var(--margin-unit));
        font-size: 16px;
        line-height: 22px;
    }
}

/* blog-nav */
.blog-nav {
    background: var(--secondary);
}
.blog-nav .container {
    align-items: center;
}
.blog-nav ul {
    font-size: 20px;
    padding: 16px 0px;
}
.blog-nav ul li{
    margin-right:  calc(6 * var(--margin-unit));
}
.blog-nav ul li:hover {
    text-decoration: underline;
}
@media(max-width:1140px){
    .blog-nav ul {
        font-size: 16px;
    }
    .blog-nav ul li{
        margin-right:  calc(4 * var(--margin-unit));
    }
}
@media(max-width:767px){
    .blog-nav {
        display: none;
    }
}

/* blog */
.blog{
    margin-top: 82px;
}
.blog ul li {
    margin-bottom: 60px;
}
.blog img{
    width: 630px;
    margin-right: 30px;
}
.blog h4 {
    font-size: 32px;
    line-height: 63px;
    color:#650300;
    font-weight: 700;
}
.blogCategory {
    font-size: 20px;
    color:#000;
    font-weight: 700;
    line-height: 26px;
}
.blogCategory span {
    font-size: 16px;
    opacity: 70%;
    float: right;
}
.blog-cont {
    font-size: 20px;
    color: #555555;
    margin-top:  calc(3 * var(--margin-unit));
    line-height: 30px;
}
.btn-more {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: #650300;
    text-align: right;
}
.btn-more:hover {
    text-decoration: underline;
}
.pages {
    display: flex;
    justify-content: center;
    margin:100px 0 156px;
}
.pages ul {
    display: flex;
}
.pages ul li a {
    color: #555;
    font-size: 19px;
    line-height: 29px;
    display: block;
    border: 1px solid #555;
    border-collapse:collapse;
    padding: 14px;
    margin:0 0 -1px -1px;
}
.pages ul li a:hover {
    background: #000;
    color: #fff;
}
@media(max-width:1140px){
    .blog {
        margin-top:  calc(3 * var(--margin-unit));
    }
    .blog img{
        width: 330px;
    }
    .blog h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .blogCategory {
        font-size: 16px;
        line-height: 21px;
        margin-bottom:  calc(2 * var(--margin-unit));
    }
    .blogCategory span {
        font-size: 14px;
    }
    .blog-cont {
        font-size: 14px;
        line-height: 21px;
        display: inline;
    }
    .btn-more {
        font-size: 14px;
        line-height: 21px;
        color: #555;
        text-transform: lowercase;
        float:right;
    }
    .pages {
        margin:104px 0;
    }
  } 
  @media(max-width: 767px){
    .blog ul li {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 26px;
    }
    .blog img{
        width: 100%;
    }
    .blog div{
        width: 100%;
    }
    .blog h4 {
        font-size: 16px;
        line-height: 22px;
        margin-top: 8px;
    }
    .blogCategory{
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
    } 
    .blogCategory span {
        font-size: 14px;
        line-height: 19px;
    }
    .blog-cont {
        display: none;
    }
    .btn-more {
        display: none;
    }
    .pages {
        margin:39px 0 56px;
    }
    .pages ul li a {
        font-size: 12px;
        line-height: 18px;
        padding: 8px;
    }
  }




